// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page
// ==================================================================================
.p-introduction {
    padding-left: 22px;
    padding-right: 22px;
    @include tablet {
        padding-left: 43px;
        padding-right: 43px;
    }
}