// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.p-map {
    background-color: $color--menubg;
    background-image: url(../../../../img/front-map.png);
    background-size: cover;
    position: relative;
    z-index: 10;
    &::before {
        content: "";
        background-color: rgba($color: #000000, $alpha: 0.2855);
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: -1;
        @include tablet {
            height: 100%;
        }
    }
}