// 変数呼び出し
@use "../../foundation/variable" as *;


.p-map {
    background-color: $color--menubg;
    background-image: url(../../../../img/front-map.png);
    background-size: cover;
    &__layer {
        width: 100%;
        height: auto;
        color: rgba(0,0,0,0.28);
    }
}