// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page
// ==================================================================================
.p-menu-cards {
    padding: 0 20px;
    &__summary {
        background-color: $color--cardbg;
        padding: 33px 17px 44px;
        min-height: 355px;
    }
    &__list {
        padding-top: 20px;
    }
}