// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page ol
// ==================================================================================
.p-ol {
    color: $color--titleGray;
    margin: 1em 0;
	list-style-type: decimal;
    &__list {
        list-style-type: decimal;
        list-style-position: inside;
    }
    &:nth-child(odd) {
        text-indent: 1em;
    }
    &:last-of-type {
        padding-bottom: 40px;
    }
}