// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.p-ordermethods {
    margin: 20px;
    @include tablet {
        margin: 40px;
        display: flex;
    }
    &__takeout {
        background-image: url(../../../../img/front-takeout.jpg);
        background-size: cover;
        height: 642px;
        margin-bottom: 20px;
        padding-left: 16px;
        padding-right: 16px;    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            margin-right: 40px;
            margin-bottom: 0;
            height: 681px;
        }
    }
    &__eatin {
        @extend .p-ordermethods__takeout;
        background-image: url(../../../../img/front-eatin.jpg);
        @include tablet {
            margin-right: 0;
        }
    }
}

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-ordermethods__dl1, .p-ordermethods__dl2 {
    margin-bottom: 32px;
}
