// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


.p-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__ul {
        display: flex;
    }
}