// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page
// ==================================================================================
.p-pagination {
    padding: 62px 50px 32px;
    display: flex;
    justify-content: space-between;
    @include tablet {
        justify-content: center;
        align-items: center;
        width: 598px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    @include pc {
        padding: 150px 0 64px;
    }
    &__sp-flex {
        display: flex;
    }
    &__notsp {
        @include tablet {
            margin-right: 15px;
            &:first-child {
                margin-right: 50px;
            }    
        }
    }
}