// 変数呼び出し
@use "../../foundation/variable" as *;



.p-sidebar {
    background-color: #F2EDE9;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -120%;
    width: 328px;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s;
    &.is-active {
        right: 0;
    }
    &__ul {
        padding-left: 66px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
}


body.is-active {
    height: 100vh;
    overflow: hidden;
}