// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page ul
// ==================================================================================
.p-ul {
    color: $color--titleGray;
    margin: 1em 0;
    &:nth-child(even) {
        text-indent: 1em;
    }
    &:last-of-type {
        padding-bottom: 40px;
    }
}