// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../foundation/mixin" as *;


.l-footer {
    height: 150px;
    background-image: url(../../../../img/footerbg.png);
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 16px;
    @include pc {
        padding: 41px 0 27px 0;
    }
}