// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.c-button {
    color: $color--titleGray;
    border: 1px solid $color--titleGray;
    border-radius: 10px;
    background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
    font-family: $font--roboto;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 23.76px;  
    width: 24vw;
    height: 46px;
    @include tablet {
        width: 16.3vw;
    }
    @include pc {
        width: 7.08vw;
    }
}


// ==================================================================================
// archive-page
// ==================================================================================
.c-button--link {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 17px;
    color: $color--titleGray;
    display: block;
    background-color: $color--titleWhite;
    border-radius: 20px;
    width: 163px;
    height: 42px;
    text-align: center;
    padding: 12.5px 0;
    margin: 0 auto;
    a {
        color: $color--titleGray;
    }
}