// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.container-main {
    @include pc {
        width: 80%;
    }
}

.container-article {
    @include pc {
        padding: 2.4% 5.2% 0;
    }
}

.flex-pc {
    @include pc {
        display: flex;
    }
}