// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// Menuボタン
// ==================================================================================
.c-menu {
    color: $color--titleGray;
    font-family: $font--roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    @include tablet {
        font-size: 3.4rem;
        line-height: 40px;
    }
}


// ==================================================================================
// バツボタン
// ==================================================================================
.c-menu--close {
    display: block;
    position: relative;
    top: -178px;
    left: 270px;
    width: 50px;
    height: 50px;
    @include tablet {
        left: 314px;
    }
    &::before {
        content: "";
        background-color: $color--titleGray;
        position: absolute;
        z-index: -1000;
        height: 6px;
        width: 40px;
        transform: rotate(45deg);
        top: 22px;
        left: 4px;
    }
    &::after {
        content: "";
        background-color: $color--titleGray;
        position: absolute;
        z-index: 1000;
        height: 6px;
        width: 40px;
        transform: rotate(-45deg);
        top: 22px;
        right: 5px;
    }
}