// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page
// ==================================================================================
.c-pagination {
    color: $color--titleGray;
    position: relative;
    a {
        color: $color--titleGray;
        &::before {
            content: "\0ab";
            position: absolute;
            width: 17.53px;
            height: 17.07px;
            font-size: 30px;
            font-weight: 100;
            top: -12px;
            left: -26px;
            @include tablet {
                top: -24px;
                left: -32px;
            }
        }    
    }
}

.c-pagination--right {
    color: $color--titleGray;
    position: relative;
    a {
        color: $color--titleGray;
        &::after {
            content: "\0bb";
            position: absolute;
            width: 17.53px;
            height: 17.07px;
            font-size: 30px;
            font-weight: 100;
            top: -12px;
            left: 4px;
            @include tablet {
                top: -24px;
                left: -4px;
            }
        }    
    }
}

.c-pagination--page {
    display: none;
    @include tablet {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid $color--titleGray;
        font-family: $font--roboto;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        a {
            color: $color--titleGray;
        }
    }
}

.c-pagination--corrent {
    display: none;
    @include tablet {
        display: block;
        color: $color--titleGray;
        font-family: $font--roboto;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 33px;
    }
}

.c-pagination--forward, .c-pagination--next {
    font-size: 1.6rem;
    line-height: 24px;
    a {
        color: $color--titleGray;
    }
    @include tablet {
        display: none;
    }
}