// 変数呼び出し
@use "../../foundation/variable" as *;

.c-title {
    // font-weight: 700;
    font-family: 'M+ M Type-1 (general-j) bold', sans-serif;;
    color: $color--titleWhite;
}

.c-title--roboto1 {   // headerのh1
    @extend .c-title;
    color: $color--titleGray;
    font-family: $font--roboto;
    font-size: 4.0rem;
    line-height: 47px;
    text-align: center;
    padding-top: 43px;
    a {
        color: $color--titleGray;
    }
}

.c-title--main-visual {
    @extend .c-title;
    font-size: 3.6rem;
    line-height: 53px;
    margin-left: 25px
}

.c-title--roboto2 {   // ulのh2
    @extend .c-title;
    font-family: $font--roboto;
    font-size: 4.1rem;
    line-height: 48px;
    color: $color--titleOffwhite;
    padding-top: 13px;
    padding-left: 15px;
    padding-bottom: 19px
}

.c-title--map {
    @extend .c-title;
    font-size: 3.0rem;
    line-height: 44.55px;
    padding-top: 42px;
    padding-left: 42px;
    padding-bottom: 15px;
}

.c-title--sidebar {
    @extend.c-title;
    color: $color--titleGray;
    font-size: 2.4rem;
    line-height: 35.64px;
    padding-left: 46px;
}